body {
    padding: 0;
    margin: 0;
    background-color: #506a5d;
    color: #a9ad7e;
    font-family: 'Cairo', sans-serif;
}

header {
    background-color: #4a5956;
    text-align: center;
    font-size: 50px;
}

.Introduction {
    background-color: #506a5d;
}