body {
    background-color: #506a5d;
    color: #a9ad7e;
}

header {
    background-color: #4a5956;
}

.section__content {
    background-color: #64815d;
}

a {
    color: #d8dda2;
}

.section__button {
    background-color: #86946b;
}

input[type=text] {
    background-color: #4a5855;
    border: 5px solid #839069;
    color: #cac29f;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cac29f;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cac29f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #cac29f;
}


/*Projects*/
.GitHub {
    background-color: #707c5b;
}

.AppStore {
    background-color: #839069;
}

.Browser {
    background-color: #839069;
}
