body {
    background-color: #506a5d;
    color: #a9ad7e;
}

header {
    background-color: #4a5956;
}

.Section {
    background-color: #64815d;
}

a {
    color: #d8dda2;
}

.button {
    background-color: #86946b;
}