/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

header {
    text-align: center;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

#SectionContainer, #ProjectsContainer {
    padding: 0 32px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    font-size: 18px;
}

.section__content, .section__button, .projects__content {
    display: block;
    padding: 15px;
    border-radius: 5px;
}

.section__title, h2 h3 {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.section__button {
    text-align: center;
    margin-top: 5px;
}

a {
    transition: 0.2s;
    display: block;
    text-decoration: none;
    color: #efefef;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}


p {
    margin: 0;
}

footer {
    padding-top: 15px;
    padding-left: 5px;
}


input[type=text] {
    margin-top: 50px;
    width: 800px;
    height: 55px;
    font-size: 30px;
    border-radius: 10px;
    padding-left: 8px;
}

::placeholder {
    opacity: 1;
}



#SearchBarContainer {
    margin: auto 0;
    text-align: center;
}
