/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

header {
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#SectionContainer {
    padding: 0 32px;
    max-width: 800px;
    margin: 0 auto;
}

section {
    font-size: 18px;
}

.section__content, .section__button {
    display: block;
    padding: 15px;
    border-radius: 5px;
}

.section__title {
    font-size: 35px;
    text-align: center;
    margin-top: 30px;
}

.section__button {
    text-align: center;
    margin-top: 5px;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

footer {
    padding-top: 15px;
    padding-left: 5px;
}