body {
    background-color: #674343;
    color: #cbc2a0;
}

header {
    background-color: #8f4d48;
}

.section__content {
    background-color: #b26143;
}

a {
    color: #ece2bb;
}

.section__button {
    background-color: #b68161;
}