body {
    background-color: #674343;
    color: #cbc2a0;
}

header {
    background-color: #8f4d48;
}

.Section {
    background-color: #b05b5d;
}

a {
    color: #cbc2a0;
}

.button {
    background-color: #b05b5d;
}