body {
    background-color: #6e607a;
    color: #bbbdca;
}

header {
    background-color: #59455d;
}

.section__content {
    background-color: #848094;
}

a {
    color: #ebecff;
}

.section__button {
    background-color: #a29cb5;
}
