.Title {
    background: #1e1e1e;
    width: 300px;
    padding: 0;
    border-radius: 20px;
    margin: 30px auto;
    font-size: 60px;
    text-align: center;
}

.text {
    font-size: 16pt;
    margin: 12px;
    padding: 4px 10px 10px 10px;
    text-align: left;
}

#About {

    border-radius: 20px;
    background: #252525;
    margin: 30px auto;
    width: 600px;
    height: 380px;
}

#History {
    background: #252525;
    margin: 30px auto 80px auto;
    border-radius: 20px;
    width: 600px;
    height: 1900px;
}

