header {
    background: #254d51;
    margin: 40px auto ;
    padding: 10px;
    max-width: 200px;
    text-align: center;
    border-radius: 10px;
    font-size: 40pt;
}

.image {
    width: auto;
    height: 100%;
    margin: 10px;
    border-radius: 2%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



