/*style for divs between section.*/
section {
    border-bottom: 4px solid #161616;
}

.sectionDivider {
    background-color: #f98800;
}


/*Style for the title*/
.topText {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 40pt;
}

.topContainer {
    height: 100px;
}

/*More text style*/
.moreText {
    margin: 20px;
    padding: 0;
    text-align: center;
    font-size: 20pt;
}

/*About section*/
section.about {
    height: 480px;
}

.homeTextContainer {
    background: rgb(42,42,42);
    background-image: url("../Images/WhatSemPruijsIs.png");
    background-position: center;
    background-size: 100%;
    width: 500px;
    height: 280px;
    position: center;
    margin: auto;
}

.learnMoreContainer {
    background: #f98800;
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
}

/*Art section*/
section.art {
    background: #55715b;
    height: 550px;
}

.squirrel-painting {
    color: darkorange;
    background-image: url("../Images/squirrel.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 436px;
    height: 354px;
    position: center;
    margin: auto;
}

.neon-cat-paiting {
    color: darkorange;
    background-image: url("../Images/NeonCat.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 375px;
    position: center;
    margin: auto;

}

.artContainer {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: auto;
}

.seeMoreArtContainer {
    background: #6fac7c;
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: -15px;
}

/*Projects home section*/
section.projects {
    background: #4294ff;
    height: 650px;
}

.ProjectsTopContainer {
    background: #36b1ff;
    height: 100px;
}

.ProjectsContainer {
    background: #4294ff;
    height: 450px;
    padding: 40px;
    display: flex;

}

.wostaScreenShot {
    background: #4294ff;
    background-image: url("../Images/Wosta.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 512px;
    height: 384px;
    margin: auto;
    position: center;
}

.seeMoreProjectsContainer {
    background: #2bdfff;
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: -65px;
}

/*The music home section*/

section.music {
    background: #9490bf;
    height: 400px;
}

.MusicTopContainer {
    background: #b1ace5;
    height: 100px;
}

.hearMoreContainer {
    background: #b9b9b9;
    width: 200px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
}

/*The Websta home section*/
section.websta {
    background: #33a3ff;
    height: 300px;
}

.webstaText {
    font-family: 'Russo One', sans-serif;
    font-size: 75pt;
    text-align: center;
}

.wostaForTheWebText {
    font-family: 'Russo One', sans-serif;
    font-size: 25pt;
    text-align: center;
}

.playNowContainer {
    background: #ff734e;
    width: 300px;
    height: 60px;
    margin: auto;
    border-radius: 10px;
}

.playNowText {
    margin: 20px;
    padding: 5px;
    text-align: center;
    font-size: 30pt;
    font-family: 'Russo One', sans-serif;
}

