/*Title under the navigation bar*/
.project-title {
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    height: 80px;
    max-width: 300px;
    background: #161616;
    border-radius: 10px;
    margin: 65px auto 20px auto;
    font-size: 35pt;
}

#worked-with-title {
    font-size: 30px;
    max-width: 450px;
}

.worked-with-list {
    text-align: center;
    font-size: 25pt;
}

.title {
    background: #94e51e;
    border-radius: 10px;
    font-size: 20pt;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    max-width: 250px;
    margin: 65px auto 20px auto;
}

.text {
    font-size: 16pt;
    margin: 12px;
    padding: 10px;
    text-align: left;
}

section.text {
    background: #202020;
    max-width: 800px;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
}

.show-on-Github {
    background: #191919;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    height: 60px;
    max-width: 800px;
    border-radius: 10px;
    font-size: 20pt;
    margin: 10px auto;
    padding: 5px;
}

/*Subtitles design*/
#sempruijs-dot-nl-title {
    background: #eb053d;
}

#wosta-title {
    background: #e4421e;
}

#aMAZEing-title {
    background: #e49b1e;
}

#learn-to-Code-1-2-3-title {
    font-size: 15pt;
}

#Intro-to-App-Development-with-Swift-title {
    background: #2ae57c;
    font-size: 10pt;
}

#learn-to-Code-1-2-3-title {
    background: #26bedf;
}

#randaam-title {
    background: #1c48df;
}

#Scratch-bird-game-title {
    background: #4d00e6;
}

